<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1-TwoSum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>10-RegularExpressionMatching.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11-ContainerWithMostWater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>12-IntegertoRoman.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>13-RomantoInteger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>14-LongestCommonPrefix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>15-3Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>16-3SumClosest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>17-LetterCombinationsofaPhoneNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>18-4Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>19-RemoveNthNodeFromEndofList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>2-AddTwoNumbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>20-ValidParentheses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>21.-MergeTwoSortedLists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>22-GenerateParentheses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>23-MergeKSortedLists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>24-SwapNodesinPairs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>25-ReverseNodesink-Group.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>26-RemoveDuplicatesfromSortedArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>27-RemoveElement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>28-ImplementstrStr().xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>29-DivideTwoIntegers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>3-LongestSubstringWithoutRepeatingCharacters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>30-SubstringwithConcatenationofAllWords.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>31-NextPermutation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>32-LongestValidParentheses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>33-SearchinRotatedSortedArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>34-SearchforaRange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>35-SearchInsertPosition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>36-ValidSudoku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>37-SudokuSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>38-CountandSay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>39-CombinationSum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>4-MedianofTwoSortedArrays.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>40-CombinationSumII.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>41-FirstMissingPositive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>42-TrappingRainWater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>43-MultiplyStrings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>44-WildcardMatching.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>5-LongestPalindromicSubstring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6-ZigZagConversion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7-ReverseInteger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>8-StringtoInteger(atoi).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>9-PalindromeNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C000626F1FE964B100F50061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00A7C9F1FCEC9D9002152E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00C707B1FDADA8F002328C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00C70861FDAE897002328C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C02A41251FB5FCFA003EBC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C034E9711F91BDFF00D19AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C034E97F1F91E45100D19AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C034E98A1F91E4A800D19AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C034E9951F91E4C400D19AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C034E9A01F91E4E200D19AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C034E9AB1F91E4FD00D19AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C038E5941FD83FA800F2FDDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C03D42421FC1CA2E00AEB101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C051A5B31FEAB50E00649D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C051A5BE1FEABA9A00649D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C05254961FA32DBB00B85DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C05402231FCBF79100F70BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C054022E1FCBFDE700F70BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C05DBFED1FDEE2FD009423DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C065AFFB1FEE3FB800EA5330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C065BB8E1FB2F80100EAF925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C06827331FA1DB9C004CDD41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C06C743A1FDBE38A0047DC69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C06F50921FE3D77400598B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C06F7A611FADBD620043EDEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C07889C21FD29DF700C10F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C07D15DC1FC9653B00AD1B86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C07D63531FCD4B9900AB92D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C07FA6581FC2D40100FB5514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C081B7121FBDD881003730B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C09273161FCA63B100498463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C099392B1FE163B7001796B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C09F889C1FAB619C0012AFC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0A18BE31FE01FC200648A3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0A31B141FA4279F00107892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0A31B1F1FA429A200107892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0ABFD361FA4213D00AF058B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0ABFD411FA4219D00AF058B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B89BC11FBB40A4007CCB45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D27D2A1F98F8B50025F343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D7BCFA1FC6C1C900CD6B85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D7BD051FC6C85900CD6B85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0DA0E0C1FC5694800AB0275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0DA0E171FC5697E00AB0275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E22C1F1F9B39070017A87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E22C2A1F9B41100017A87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E4CCB01F97A65400B206A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E4CCBB1F97A66B00B206A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E6D0311F91FF80006905FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
